/*ABOUT US PAGE*/
/* Import Google Fonts */
@import url("//fonts.googleapis.com/css2?family=Piazzolla:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("//fonts.googleapis.com/css2?family=Habibi:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url('https://fonts.cdnfonts.com/css/imelda');
/* Bold Tag */
.section-light center b{
 font-family:'Piazzolla', serif;
 color:#ffffff;
}

/* Paragraph */
.section-light center p{
 transform:translatex(4px) translatey(-9px);
 font-family:'Habibi', serif;
 color:#e0e0e0;
}

/* Centred block */
.section-light center{
 color:#000000;
}

/* Section light */
.section-light{
 background-image:linear-gradient(to right, #000000 0%, #8c8c8e 100%);
}

/*CONTACT US PAGE*/
/* Input */
#contact-form form input[type=text]{
    width:34%;
    height:31px;
   }
   
   /* Input */
   #contact-form form input[type=email]{
    width:34%;
    height:31px;
   }
   
   /* Text Area */
   #contact-form form textarea{
    height:124px;
    transform:translatex(0px) translatey(0px);
    text-align:center;
    width:54%;
   }
   
   /* Button */
   #contact-form form .myButton{
    transform:translatex(-165px) translatey(0px);
    height:51px;
    font-size:15px;
   }

   /* Image */
#header_image img{
    transform:translatex(-204px) translatey(-16px);
    width:102px;
   }
   
   header {
    
    overflow: hidden;
    
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

.sidebar{
    position: fixed;
    width: 240px;
    left: -240px;
    min-height: 100vh;
    background: #121a2b;
    transition: all .5s ease;
    
    z-index: 1000;
  }
  .sidebar header{
    font-size: 28px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: #121a2b;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
  }
  .sidebar a{
    display: block;
    height: 65px;
    width: 100%;
    color: white;
    line-height: 65px;
    padding-left: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255,255,255,.1);
    border-left: 5px solid transparent;
    font-family: 'Open Sans', sans-serif;
    transition: all .5s ease;
  }
  a.active,a:hover{
    border-left: 5px solid #d4af37;
    color: #d4af37;
  }
  .sidebar a i{
    font-size: 23px;
    margin-right: 16px;
  }
  .sidebar a span{
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  #check{
    display: none;
    position: fixed;
    z-index: 2000;
  }
  label #btn,label #cancel{
    position: absolute;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: 1px solid #262626;
    margin: 15px 30px;
    margin-top: 30px;
    font-size: 29px;
    background: #1d2945;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    transition: all .5s ease;
  }
  label #cancel{
    opacity: 0;
    visibility: hidden;
  }

  #check:checked ~ .sidebar{
    left: 0;
  }
  #check:checked ~ label #btn{
    margin-left: 245px;
    opacity: 0;
    visibility: hidden;
  }
  #check:checked ~ label #cancel{
    margin-left: 245px;
    opacity: 1;
    visibility: visible;
    position: fixed;
    z-index: 2000;
  }
  @media(max-width : 860px){
    .sidebar{
      height: auto;
      width: 70px;
      left: 0;
      margin: 100px 0;
    }
    header,#btn,#cancel{
      display: none;
    }
    span{
      position: absolute;
      margin-left: 23px;
      opacity: 0;
      visibility: hidden;
    }
    .sidebar a{
      height: 60px;
    }
    .sidebar a i{
      margin-left: -10px;
    }
    a:hover {
      width: 200px;
      background: inherit;
    }
    .sidebar a:hover span{
      opacity: 1;
      visibility: visible;
      
    }
  }

.About h1{
    padding-top:91px;
}
h1{
     text-align: center;
}
.container { 
    border: 3px ; 
    width: 750px; 
    height: 750px;
 }
.outer-container{
    display: flex;  
    flex-direction: row;
}

.container2 {
    border: 3px ; 
    width: 750px; 
    height: 750px;
}
.outer-container .container p{
    padding-top:34px;
    line-height:2em;
}
/* Container */
.outer-container .container{
    transform:translatex(86px) translatey(88px);
    width:559px;
}
   
   /* Container2 */
.outer-container .container2{
    transform:translatex(172px) translatey(65px);
    width:597px;
}
.outer-container p{
    word-spacing:5.5px;
    letter-spacing:0.1px;
    text-shadow:none;
    text-transform:none;
    column-count:1;
    padding-top:24px;
    line-height: 20px;
}
@import url("//fonts.googleapis.com/css2?family=Alata:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/* Heading */
.About h1{
 font-size:84px;
 line-height:63.6px;
 font-style:normal;
 text-transform:uppercase;
 text-shadow:rgb(255, 0, 0) -1px 0px 0px, rgb(0, 255, 255) 1px 0px 0px;
 font-family:'Alata', sans-serif;
 transform:translatex(0px) translatey(-20px);
}
.placeholder{
    text-align: center;
}

#header_image{

    float: left;
    padding: none;
    margin: none;
    height: 10px;
    width: 20%;
}
#header_image img{
    width: 40%;
    float: left;
    padding: 0px;
}

#margin {
    margin: 75% 0;
}

form{
    text-align: auto;
}
body{ 
    background: #ffffff;
      
}
.parallax {
    background-image: url(food2.jpg);
      
    height: 800px; 
    background-size: 50% 50%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    text-align: center; 
}
.parallax-text {
    position: relative;
    z-index: 50;
    font-weight: 400;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: auto;
    color: #fff;
    opacity: 1;
    transition: opacity 4s ease;
    font-size: 40px;
    font-family: 'Lucida Sans Unicode';
    letter-spacing: 2px;
    line-height: 6rem;

}
.parallax-text.fade-out {
    opacity: 0;
}
.outer-container img{
    display:inline-block;
    transform:translatex(66px) translatey(-37px);
    padding-right:25px;
    height:696px;
   }
   
.container9{ 

    border: 3px  ; 
    width: 750px; 
    height: 750px;
 }
.container8{
    display: flex;  
    flex-direction: row;
}


.container8 .container9{
    transform:translatex(356px) translatey(65px);
    height:272px;
    width:729px;
    letter-spacing:0.6px;
}

.container8 h1{
    min-height:51px;
    transform:translatex(0px) translatey(-52px);
}
.container8 p{
    word-spacing:5.5px;
    letter-spacing:0.1px;
    text-shadow:none;
    text-transform:none;
    column-count:1;
    padding-top:24px;
    
    transform:translatex(4px) translatey(-38px);
    line-height:1.8em;
}
.container4{ 

    border: 3px dashed rgb(255, 255, 255) ; 
    width: 750px; 
    height: 750px;
 }
.out-container{
    display: flex;  
    flex-direction: row;
}

.container5 {
    border: 3px dashed rgb(255, 255, 255) ; 
    width: 750px; 
    height: 750px;
}
/* Container4 */
.out-container .container4{
    padding-left:2px;
    width:406px;
    transform:translatex(269px) translatey(119px);
    height:334px;
}
   
 /* Container5 */
.out-container .container5{
    transform:translatex(-88px) translatey(459px);
    width:406px;
    height:364px;
    
}
.out-container .container5 p{
    line-height:23.8px;
    text-transform:none;
    letter-spacing:0.2px;
    
    padding-right:4px;
    font-family:Garamond,Baskerville,'Baskerville Old Face','Hoefler Text','Times New Roman',serif;
    transform:translatex(0px) translatey(-10px);

}

.container6{ 

    border: 3px  dashed rgb(255, 255, 255); 
    width: 750px; 
    height: 750px;
 }


.container7 {
    border: 3px dashed rgb(255, 255, 255) ; 
    width: 750px; 
    height: 750px;
}
/* Container6 */
.out-container .container6{
    padding-left:2px;
    width:406px;
    transform:translatex(99px) translatey(112px);
    height:334px;
}
   
 /* Container7 */
.out-container .container7{
    transform:translatex(-259px) translatey(452px);
    width:406px;
    height:364px;
    
}
.out-container .container7 p{
    line-height:24.5px;
   
    word-spacing:0.4px;
    font-family:Garamond,Baskerville,'Baskerville Old Face','Hoefler Text','Times New Roman',serif;
}
img{
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}
.out-container .container6 img{
    transform:translatex(64px) translatey(4px);
   }
.out-container b{
    font-size:30px;
    font-family: 'Imelda', sans-serif;
    
     display:inline-block;
}
.out-container h4{
    font-size: 18px;
}

.container12{ 

    border: 3px dashed rgb(255, 255, 255) ; 
    width: 750px; 
    height: 750px;
 }
.container11{
    display: flex;  
    flex-direction: row;
}
.container13 {
    border: 3px dashed rgb(255, 255, 255); 
    width: 750px; 
    height: 750px;
}
.container11{
    transform:translatex(4px) translatey(481px);
}

.container11 .container12{
    transform:translatex(269px) translatey(30px);
    padding-left:2px;
    width:440px;
  
    height:334px;
    
 }
   
   /* Container13 */
.container11 .container13{
    transform:translatex(-90px) translatey(370px);
    width:440px;
    height:364px;
}
.container14{ 

    border: 3px dashed rgb(254, 254, 254) ; 
    width: 750px; 
    height: 750px;
 }

.container15 {
    border: 3px dashed rgb(255, 254, 254); 
    width: 750px; 
    height: 750px;
}
.container11 .container15{
    transform:translatex(-267px) translatey(376px);
    width:440px;
  
    height:356px;
}
   
   /* Container14 */
.container11 .container14{
    transform:translatex(93px) translatey(30px);
    width:440px;
    height:340px;
}
.container11 b{
    font-size:30px;
    font-family: 'Imelda', sans-serif;
    
     display:inline-block;
}
.container11 h4{
    font-size: 18px;
}
.container11 .container13 p{
    line-height:23.8px;
    text-transform:none;
    letter-spacing:0.2px;
    
    padding-right:4px;
    font-family:Garamond,Baskerville,'Baskerville Old Face','Hoefler Text','Times New Roman',serif;
    transform:translatex(0px) translatey(-10px);

}
.container11 .container15 p{
    line-height:23.8px;
    text-transform:none;
    letter-spacing:0.2px;
    
    padding-right:4px;
    font-family:Garamond,Baskerville,'Baskerville Old Face','Hoefler Text','Times New Roman',serif;
    transform:translatex(0px) translatey(-10px);

}