/* Reset some default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  .container1 {
    height: 60px;
    background-color: #007bff;
  }
  
  .outer-container {
    max-width: 500px;
    margin: 40px auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  form {
    display: grid;
    gap: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button.myButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button.myButton:hover {
    background-color: #0062cc;
  }
  
  /* Sidebar styles */
  header {
    color: #fff;
    text-align: center;
    font-size: 24px;
    padding: 20px;
    background-color: #007bff;
  }
  
  .sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all 0.3s ease;
  }
  
  .sidebar.active {
    left: 0;
  }
  
  .sidebar header {
    font-size: 22px;
    color: white;
    text-align: center;
    background-color: #063146;
    user-select: none;
    padding: 20px;
  }
  
  .sidebar a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid white;
    transition: 0.4s;
  }
  
  .sidebar a:hover {
    background: #ff6a00;
  }
  
  .sidebar i {
    padding-right: 10px;
    font-size: 25px;
    line-height: 65px;
    transition: 0.4s;
  }
  
  .sidebar.active .fa-bars,
  .sidebar.active .fa-times {
    display: none;
  }
  
  #btn:checked ~ .sidebar #btn,
  #btn:checked ~ .sidebar #cancel {
    display: none;
  }
  
  #btn:checked ~ .sidebar #header_image {
    display: none;
  }
  
  #btn:checked ~ .sidebar a span {
    display: none;
  }
  
  #btn:checked ~ .sidebar a {
    font-size: 20px;
    margin-left: 50px;
    line-height: 80px;
  }
  
  #btn:checked ~ .sidebar .active a {
    margin-left: 0px;
    line-height: 65px;
  }
  /* Header */
header{
    background-color:#f2f2f2 !important;
    display:inline-block;
    transform:translatex(-80px) translatey(-31px);
   }
   
   /* Container1 */
   .container1{
    background-color:#f2f2f2;
   }
   
   /* Body */
   body{
    background-color:#f2f2f2;
   }
   
   /* Image */
   #header_image img{
    display:inline-block;
    transform:translatex(935px) translatey(-33px);
    height:185px;
   }
/* FIX THIS STUPID STUFF LATER lAST MIN CHANGES */
   