*{
    margin: 10;
    padding: 10;
}
h1{
     text-align: center;
}

p{
    text-align: center;
}

form{
    text-align: center;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-
    gradient rgba(0,105,112,0.6),rgba(0,105,112,0.6),url(image/bread 1.jpeg)
    ;
    background-position: top;
    background-size : contain;
    position: relative;
        
}
#body{ 
    background-image: url("image/bread 1.jpeg");
 }
 #boxes > .vegetables-box {
    width: 80vmin;
    height: 56vmin;
    object-position: center;
    object-fit: cover;

}
#boxes {
    display: flex;
    gap: 4vmin;
    position: absolute; top: 50%; transform: translate(0%, -50%);
    
}
    #bake-box {
                border-style: outset;
                border-width: 5px;
                border-color: ghostwhite;
                padding: 7px;
                width: 40%;
                text-align: center;
                
        }
    #vegan-box {
                border-style: outset;
                border-width: 5px;
                border-color: ghostwhite;
                padding: 7px;
                width: 40%;
                text-align: center;


                
        }
    #vegetables-box {
                border-style: outset;
                border-width: 5px;
                border-color: ghostwhite;
                padding: 7px;
                text-align: center;
                width: 80%;

                
        }   


b{
    text-align: center;
}
.search{
    position: absolute;	text-align: center;
	width: 100%;left: 50%;top: 50%;
	transform: translate(-50%, -50%);
    text-align: center;
}
.softbox{
	transition: border .2s linear;
	font-size: 12px;width: 50%;
	background: #f5f8fa;color: #000;
	padding: 8px 32px 8px 12px;	height: 22px;
	border: 1px solid #e6ecf0;border-radius: 50px;
	outline: none;
}
.softbox:focus{
	transition: border .2s linear;
	border: 2px solid rgb(0, 110, 255);
}
.softbtn{
    position: absolute;
	font-size: 20px;color: #66757f;
	background-color: transparent;
	border:none;right: 24%;
	top: 5px;outline: none;
	padding: 4px;
}
.placeholder{
    text-align: center;
}
