logo 
html, body {
    height: 100%;
    margin: 0;
    
}
header{
    overflow: hidden;
}

#menu{
    float: right;
    width: 68%;
    height: 100%;
    margin: none;
    position: fixed;
    transform: translate(85%, 0%);

}
     
#menu ul{
    text-align: center;
    float: right;
    margin: none;
    background: #121a2b;
    width: 200%;
}
     
#menu li{
    display: inline-block;
    padding: none;
    margin: none;
    font-size: medium;
}
     
#menu li a, #menu li span{
    display: inline-block;
    padding: 0em 1.5em;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 70px;
}
     
#menu li a{
         
    color: #FFF;
}
     
#menu li:hover a, #menu li span{
    background: #FFF;
    color: #58432a;
    border-left: 1px solid #0074D9;
    text-decoration: none;
}

h1{
     text-align: center;
}

p{
    text-align: center;
}

form{
    text-align: center;
}
body{ 
    background: #f8f7f7;
      
}

#boxes > vegetables-box {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: center;
    

}
#boxes {

    display: flex;
    width: 800px;
    height: 300px;
    gap: 4vmin;   
}
    #bake-box {
                border-style: outset;
                border-width: 5px;
                border-color: rgb(169, 169, 171);
                padding: 7px;
                width: 40%;
                text-align: center;

                
        }
    #vegan-box {
                border-style: outset;
                border-width: 5px;
                border-color: ghostwhite;
                padding: 7px;
                width: 40%;
                text-align: center;


                
        }
#vegetables-box {
    border-style: outset;
    border-width: 7px;
    border-color: rgb(169, 169, 171);
    padding: 7px;
    text-align: center;
    width: 80%;
                                
}   


b{
    text-align: center;
}
#search{
    position: absolute ;	
    text-align: center;
	width: 100%;
	transform: translate(0%, -50%);
    
}
.softbox{
	transition: border .2s linear;
	font-size: 12px;width: 50%;
	background: #f5f8fa;color: #000;
	padding: 8px 32px 8px 12px;	height: 22px;
	border: 1px solid #e6ecf0;border-radius: 50px;
	outline: none;
}
.softbox:focus{
	transition: border .2s linear;
	border: 2px solid rgb(68, 109, 165);
}
.softbtn{
    position: absolute;
	font-size: 20px;color: #6b93ad;
	background-color: transparent;
	border:none;right: 24%;
	top: 5px;outline: none;
	padding: 4px;
}
.placeholder{
    text-align: center;
}

#header_image{

    float: left;
    padding: none;
    margin: none;
    height: 10px;
    width: 20%;
     
   
       
   

}
#header_image img{
    width: 40%;
    float: left;
    padding: 0px;
 

}

#margin {
    margin: 75% 0;
}
.parallax {
    background-image: url(food2.jpg);
    height: 900px; 
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}
p{
    color: white;


}
#gfg {
   z-index: 9;
}
