 
html, body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #31394b


}
header {
    
    overflow: hidden;
    
}
*{
    
    font-family: Franklin Gothic Medium
}



.steps {
    width: 900px;
    height: 740px;
    color: white;
    
    border: 2px ;
    border-radius: 30px;
    float: left;
    margin-top: 65px;
    margin-left: 30px;
 
 
}
 


.circle {
    width: 300px;
    height: 300px;
    background-color: gray;
    border-radius: 50% 50% 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-30%, -50%);

}
.circle img {
    width: auto;
    height: auto;
    object-fit: scale-down;
}
 
.title{
  margin-top:30px;
  color:white;
}
 
.ingredients {
    width: 500px;
    height: auto;
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 30px;
    float: right;
    margin-top: 40px;
    margin-right: 30px;
    padding-left: 5px;
    padding-right: 5px;
    min-height:80vh;
    color: black;
    display: flex;
    flex-direction: column;
    
}

.ingredients .info{
  padding-top: 10px;
  margin-bottom: 15px;
}

.ingredients ul li{
  padding-top:16px;
 }
h1{
    text-align: center;

}
h2{
    color: white;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

.sidebar{
    position: fixed;
    width: 240px;
    left: -240px;
    min-height: 100vh;
    background: #121a2b;
    transition: all .5s ease;
    position: absolute;
    z-index: 1000;
  }
  .sidebar header{
    font-size: 28px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: #121a2b;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
  }
  .sidebar a{
    display: block;
    height: 65px;
    width: 100%;
    color: white;
    line-height: 65px;
    padding-left: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255,255,255,.1);
    border-left: 5px solid transparent;
    font-family: 'Open Sans', sans-serif;
    transition: all .5s ease;
  }
  a.active,a:hover{
    border-left: 5px solid #d4af37;
    color: #d4af37;
  }
  .sidebar a i{
    font-size: 23px;
    margin-right: 16px;
  }
  .sidebar a span{
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  #check{
    display: none;
  }
  label #btn,label #cancel{
    position: absolute;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: 1px solid #262626;
    margin: 15px 30px;
    margin-top: 30px;
    font-size: 29px;
    background: #1d2945;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    transition: all .5s ease;
  }
  label #cancel{
    opacity: 0;
    visibility: hidden;
  }
  #check:checked ~ .sidebar{
    left: 0;
  }
  #check:checked ~ label #btn{
    margin-left: 245px;
    opacity: 0;
    visibility: hidden;
  }
  #check:checked ~ label #cancel{
    margin-left: 245px;
    opacity: 1;
    visibility: visible;
  }
  @media(max-width : 860px){
    .sidebar{
      height: auto;
      width: 70px;
      left: 0;
      margin: 100px 0;
    }
    header,#btn,#cancel{
      display: none;
    }
    span{
      position: absolute;
      margin-left: 23px;
      opacity: 0;
      visibility: hidden;
    }
    .sidebar a{
      height: 60px;
    }
    .sidebar a i{
      margin-left: -10px;
    }
    a:hover {
      width: 200px;
      background: inherit;
    }
    .sidebar a:hover span{
      opacity: 1;
      visibility: visible;
      
    }
  }

  
   
   
/* Steps */
.steps{
  width:516px;
  padding-left:81px;
  transform:translatex(0px) translatey(0px);
 }
 
 /* List Item */
 .ingredients ul li{
  padding-left:23px;
  transform:translatex(0px) translatey(0px);
 }
 
 /* Ingredients */
 .ingredients{
  padding-left:34px;
 }
 
/* Ingredients */
.ingredients{
  margin-left:0px;
  width:461px;
  transform:translatex(6px) translatey(11px);
 }
 
 /* List Item */
 
 
 /* List */
 .ingredients .info ul{
  transform:translatex(10px) translatey(15px);
  position: relative;
  z-index: 1;
 }
 
 /* Body */
 